<div class="bg">
  {{> nav/nav-block}}
  <div class="row addcar">
    <div class="col s6 offset-s3">
      <div class="card">
        <div class="card deep-orange lighten-4">
          <div class="card-content white-text">
            <span class="card-title">Add A Car</span>
            <div class="row">
              <div class="input-field col s6">
                <input id="make" type="text">
                <label for="make">Make</label>
              </div>
              <div class="input-field col s6">
                <input id="model" type="text">
                <label for="model">Model</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="year" type="text">
                <label for="year">Year</label>
              </div>
              <div class="input-field col s6">
                <input id="price" type="text">
                <label for="price">Price</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="image" type="text">
                <label for="image">Image</label>
              </div>
            </div>
             <div class="row">
              <div class="input-field col s12">
                <input id="description" type="text">
                <label for="description">Desctription</label>
              </div>
            </div>
            
            <div class="card-action">
              <a href="/models" id="createCar" class="btn btn-float black">Submit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>