<div class="bg">
{{> nav/nav-block}}

  <div class="row">
    <form class="col s6">
    
      <div class="row">
        <div class="input-field inline">
          <input id="make" class="blue-text" type="text">
          <label for="make" class="blue-text darken-3">Make</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field inline">
          <input id="model" class="blue-text" type="text">
          <label for="password" class="blue-text darken-3">Model</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field inline">
          <input id="year" class="blue-text" type="text">
          <label for="year" class="blue-text darken-3">Year</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field inline">
          <input id="image" class="blue-text" type="text">
          <label for="image" class="blue-text darken-3">Image</label>
        </div>
      </div>
      <div class="row">
       <div class="input-field inline">
            <input id="price" class="blue-text" type="text">
            <label for="price" class="blue-text darken-3">Price</label>
          </div>
        </div>
         <div class="row">
       <div class="input-field inline">
            <input id="mileage" class="blue-text" type="text">
            <label for="mileage" class="blue-text darken-3">Mileage</label>
          </div>
        </div>
         <div class="row">
       <div class="input-field inline">
            <input id="description" class="blue-text" type="text">
            <label for="description" class="blue-text darken-3">Description</label>
          </div>
        </div>
        <button class="btn btn-floating" id="createCar"><i class="material-icons pulse blue darken-3">add</i></button>
    </form>
    
  </div>
</div>