<div class="bg">
  <div class="row signup">
    <h1 class="amber-text lighten-2">ZOOM</h1>
  </div>
  <div class="row">
    <div class="col s4 offset-s4">
      <div class="card">
        <div class="card amber lighten-2">
          <div class="card-content white-text">
            <span class="card-title">Register</span>
            <div class="row">
              <div class="input-field col s12">
                <input id="shop_name" type="text" class="validate">
                <label for="shop_name">Shop Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="text" class="validate">
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="card-action">
              <a href="/addcar" class="btn btn-float black">Submit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>