{{> nav/nav-block}}
<div class="row">
    <form class="col s12">
    <div class="row">
      <div class="row">
        <div class="input-field col s6 m5">
          <input id="username" type="text" class="validate">
          <label for="username">User Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 m5">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <button id="signup" class="btn">Submit</button>
      </div>
      </form>