body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.bg { 
  background-image: url("../images/landing_background.jpg");
  height:100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Faster One', cursive;
  color: #D6BA73;
  text-align: center;
  font-size: 145px;
  margin: 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h6{
  font-family: 'Faster One', cursive;
  color: #D6BA73;
  text-align: center;
  font-size: 50px;
}

.brand-logo {
 font-family: 'Faster One', cursive;
 text-align:center;
 margin-left: 25px;
 font-size: 60px;
}

.links {
  color: #d50000;
}

.centered {
  padding-top: 115px;
}

.login{
  padding-top: 10px;
}

.signup{
  padding-top: 5px;
}

.addcar{
  padding-top: 30px;
}

