body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.bg { 
  background-image: url("../images/landing_background.jpg");
  height:100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h6 {
  font-family: 'Faster One', cursive;
  color: #D6BA73;
  text-align: center;
  font-size: 50px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.brand-logo {
 font-family: 'Faster One', cursive;
 color: #D6BA73;
 text-align:center;
}

.navbar {
  background-color: #172239; 
  background-image: linear-gradient(90deg, #172239, #152852); 
}

.links {
  color: #D6BA73;
}

<<<<<<< HEAD
.centered {
  padding-top: 115px;
}

.login{
  padding-top: 85px;
}
=======
>>>>>>> c810dafa0318f78499cf8f0e72b98be473a4e18b
