<nav>
    <div class="nav-wrapper navbar">
      <a href="#" class="brand-logo">ZOOM</a>
      <ul id="nav-mobile" class="right links">
        <li><a href="/signup">VIEW INVENTORY</a></li>
        <li><a href="/models">ADD A CAR</a></li>
      </ul>
    </div>
  </nav>