<nav>
    <div class="nav-wrapper navbar black">
      <a href="/" class="brand-logo deep-orange-text">ZOOM</a>
      <ul id="nav-mobile" class="right">
        <li><a class="deep-orange-text text-lighten-4" href="/models">VIEW INVENTORY</a></li>
        <li><a class="deep-orange-text text-lighten-4" href="/addcar">ADD A CAR</a></li>
      </ul>
    </div>
  </nav>